


    <div class="Modal_Modal notesModal">

        <div className={classes.doneContainer}>
            <div onClick={this.notesUpdateHandler}>DONE</div>
        </div>

        <textarea value={this.state.notes} onChange={this.textHandler}></textarea>


    </div>
<script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-3.3.1.min.js"></script>
<script>


</script>